<!DOCTYPE html>
<html lang="en">
<head>
    <title>FeedBack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>

    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <h2>FeedBack Collection</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Post</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in myWelcome">
                    <td>
                        {{item.PostName}}
                        <table class="table table-striped">
                            <tr ng-repeat="cmnt in item.CommentList">
                                <td>{{cmnt.CommentName}}</td>
                                <td>{{cmnt.MadeBy}}</td>
                                <td>{{cmnt.MakeDate | date}}</td>
                                <td>Like: {{cmnt.LikeDislikeList.CmntLike }} || Dislike: {{cmnt.LikeDislikeList.CmntDislike}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http.get("https://localhost:44328/api/Feedback/GetAllPost")
                .then(function (response) {
                    console.log(response);
                    $scope.myWelcome = response.data.Data;
                });
        });
    </script>
</body>
</html>